@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  width: auto;

  min-height: 30px;
  max-height: 70px;
}

.App-header {
  padding: 1.5%;
  background-color: #174CE3;
  min-height: auto;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  justify-content: right;
  display: flex;
  margin-left: 10%;
  list-style-type: none ;

}

.App-onglet{
  margin-left: 2.5%;
}

.App-body{
  height: auto;
  width: auto;
}

.App-link {
  color: #61dafb;
}

