@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*body{
  background-color: #282c34;
}*/

.App-logo {
  height: 50px;
  pointer-events: none;
  width: auto;
  min-height: 30px;
  max-height: 70px;
}

.App-header {
  padding: 1.5%;
  /*background-color: #174CE3;*/
  background-color: #EE8F46;
  min-height: auto;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  justify-content: right;
  display: flex;
  margin-left: 10%;
  list-style-type: none ;

}

.App-onglet{
  margin-left: 2.5%;
}

.App-body{
  height: 100%;
  width: auto;
}

.App-link {
  color: #61dafb;
}

