.Section-text {
    display: flex;
    justify-content:center;
    text-align: center;
}

.Section{
    text-align:center;
    box-shadow: 0 0 30px rgb(255 255 255 / 20%);
    margin-bottom: 2rem;
    border-radius: 10px
}